{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="card">

<h2>Sobre mi</h2>

<p>
Este proyecto fue desarrollado por <strong>Noé Klein Oxance</strong>
como parte del curso de Python y Django.
</p>

<p>
La aplicación simula una <strong>Mesa de Ayuda IT</strong> donde se pueden registrar
casos de soporte técnico, documentar soluciones y consultar procedimientos.
</p>

<p>
Actualmente trabajo en el área de informática realizando tareas de soporte técnico.
</p>


</div>

{% endblock %}