{% extends "blog/base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="row">
      <h2 style="margin:0">{{ titulo }}</h2>
      <a class="btn" href="{% url 'listar_posts' %}">Volver a tickets</a>
    </div>
    <hr>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div style="display:flex;gap:10px;flex-wrap:wrap">
        <button class="btn btn-ok" type="submit">Guardar</button>
        <a class="btn" href="{% url 'home' %}">Home</a>
      </div>
    </form>
  </div>
{% endblock %}
